<!-- Main Container -->
<div class="bg-cyan-700 text-white h-12 w-full border">
    <ul class="flex flex-row justify-start items-center h-full pl-8 pt-5 gap-10">
        <li class="h-11 hover:text-cyan-400 cursor-pointer" [routerLink]="'/home'">Home</li>
        <li class="h-11 hover:text-cyan-400 cursor-pointer" [routerLink]="'/home/contact-us'">Contact-us</li>
        <li class="h-11 hover:text-cyan-400 cursor-pointer" [routerLink]="'/home/about'">About</li>
        <li class="flex-1 ml-auto h-11 text-right hover:text-cyan-400 cursor-pointer" [routerLink]="'/auth/signin'">Login</li>
        <li class="h-11 text-right pr-8 hover:text-cyan-400 cursor-pointer" [routerLink]="'/auth/register'">Register</li>
    </ul>
</div>